body {
    #header {
        background: white;
        color: black;
        padding: 5px 0;

        #search-bar {
            background: #f6f7f8;
            border: 1px solid #edeff1;
            transition: none;

            &:hover {
                border-color: #0079d3;
                background: white;
                transition: none;
            }
        }
    }
}