body {
    #header {
        background: white;
        color: black;
        padding: 5px 0;

        #search-bar {
            background: #f6f7f8;
            border: 1px solid #edeff1;
            border-radius: 5px;
            transition: none;

            * {
                background: none;
                border: none;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            i {
                color: #878a8c;
            }

            &:hover {
                border-color: #0079d3;
                background: white;
                transition: none;
            }
        }
    }
}